// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  width: 100%;
}
#content {
  margin:0 30px;
}

h1 {
  /*border: 2px solid #cedcf6;*/
background-color: #cedcf6;
height:20px;
width:350px;
padding:15px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 0px solid #CEDCF6;
}

h2 {
  /*border: 2px solid #cedcf6;*/
background-color: #cedcf6;
height: 20px;
width: 400px;
padding: 15px 15px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 0px solid #CEDCF6;
}

h3 {
  border: 2px solid #cedcf6;
  /*background-color: #cedcf6;*/
}
h4 {
  border: 2px solid #cedcf6;
  /*background-color: #cedcf6;*/
}
//#caf4ff

#games-footer li {
  style:inline;
  text-decoration: none;
}

#my-games p, ol, ul, td {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #cedcf6;
  border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 0px solid #cedcf6;
}
#my-games th {
  background-color: white;
  border: 2px solid #caf4ff;
  border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 2px solid #caf4ff;
}
#pref-h1 {
  background-color: #caf4ff;
  width:200px;
}

